<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroids</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <canvas></canvas>
    <div class="chat-container">
        <ul class="chat-messages">
        </ul>
        <form class="new-message-form">
            <input type="text" class="new-message">
            <button class="send-message-btn" type="submit">Send</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./artist.js"></script>
    <script  src="./HUD/miniMap.js"></script>
    <script  src="./HUD/ammoBar.js"></script>
    <script src="./HUD/message.js"></script>
    <script src="/index.js"></script>
</body>
</html>