body {
    margin: 0;
}

.chat-container {
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.chat-messages {
    color: white;
    list-style: none;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 120px;
    max-width: 280px;
    -webkit-mask-image: linear-gradient(to top, black 50%, transparent 100%);
    mask-image: linear-gradient(to top, black 50%, transparent 100%);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-left: 4px;
}

.chat-messages {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.chat-messages::-webkit-scrollbar { 
    display: none; 
}

.chat-messages > :first-child {
    margin-top: auto;
    padding-top: 35px;
}

.chat-messages span .username{
    font-weight: bold;
}

.message {
    padding-bottom: 4px;
}

.new-message {
    margin-top: 10px;
    background-color: #000e18;
    border-style: solid;
    border-radius: 5px;
    border-color: #092b36;
    color: white;
    padding: 4px 9px;
    font-size: 14px;
    width: 280px;
}

.new-message:focus, .new-message:active {
    outline: none;
    border-color: #176B87;
}